/**
 * @license
 * MyFonts Webfont Build ID 3483215, 2017-11-14T10:41:57-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: FF DIN Round Web Pro by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/din-round-pro/regular/
 *
 * Webfont: FF DIN Round Web Pro Bold by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/din-round-pro/bold/
 *
 * Webfont: FF DIN Round Web Pro Medium by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/din-round-pro/medium/
 *
 * Webfont: FF DIN Round Web Pro Light by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/din-round-pro/light/
 *
 * Webfont: FF DIN Round Web Pro Black by FontFont
 * URL: https://www.myfonts.com/fonts/fontfont/din-round-pro/black/
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3483215
 * Licensed pageviews: 50,000
 * Webfonts copyright: 2010 Albert-Jan Pool published by FSI FontShop International GmbH
 *
 * © 2017 MyFonts Inc
*/

/* Din Round */
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/35264f");

@font-face {font-family: 'FFDINRoundWebPro';
	src: url('../fonts/Din Round/35264F_0_0.eot');
	src: url('../fonts/Din Round/35264F_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Din Round/35264F_0_0.woff2') format('woff2'),
		 url('../fonts/Din Round/35264F_0_0.woff') format('woff'),
		 url('../fonts/Din Round/35264F_0_0.ttf') format('truetype');}

 .dinRound-regular {
 	font-family: 'FFDINRoundWebPro';
 }

@font-face {font-family: 'FFDINRoundWebProBold';
	src: url('../fonts/Din Round/35264F_1_0.eot');
	src: url('../fonts/Din Round/35264F_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Din Round/35264F_1_0.woff2') format('woff2'),
		 url('../fonts/Din Round/35264F_1_0.woff') format('woff'),
		 url('../fonts/Din Round/35264F_1_0.ttf') format('truetype');}

.dinRound-bold {
 	font-family: 'FFDINRoundWebProBold';
 }

@font-face {font-family: 'FFDINRoundWebProMedium';
	src: url('../fonts/Din Round/35264F_2_0.eot');
	src: url('../fonts/Din Round/35264F_2_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Din Round/35264F_2_0.woff2') format('woff2'),
		 url('../fonts/Din Round/35264F_2_0.woff') format('woff'),
		 url('../fonts/Din Round/35264F_2_0.ttf') format('truetype');}

.dinRound-medium {
 	font-family: 'FFDINRoundWebProMedium';
 }

@font-face {font-family: 'FFDINRoundWebProLight';
	src: url('../fonts/Din Round/35264F_3_0.eot');
	src: url('../fonts/Din Round/35264F_3_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Din Round/35264F_3_0.woff2') format('woff2'),
		 url('../fonts/Din Round/35264F_3_0.woff') format('woff'),
		 url('../fonts/Din Round/35264F_3_0.ttf') format('truetype');}

 .dinRound-light {
 	font-family: 'FFDINRoundWebProLight';
 }

@font-face {font-family: 'FFDINRoundWebProBlack';
	src: url('../fonts/Din Round/35264F_4_0.eot');
	src: url('../fonts/Din Round/35264F_4_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Din Round/35264F_4_0.woff2') format('woff2'),
		 url('../fonts/Din Round/35264F_4_0.woff') format('woff'),url('webfonts/35264F_4_0.ttf') format('truetype');}

.dinRound-black {
 	font-family: 'FFDINRoundWebProBlack';
 }











 /* Replica */
 /*
  * Legal Disclaimer
  *
  * These Fonts are licensed only for use on these domains and their subdomains:
  * eximchain.com
  *
  * It is illegal to download or use them on other websites.
  *
  * While the @font-face statements below may be modified by the client, this
  * disclaimer may not be removed.
  *
  * Lineto.com, 2017
  */


 /*
  *
  * INSTRUCTIONS
  *
  * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
  * The fonts folder(s) should be placed relative to the regular CSS file.
  *
  * You can use either the complete or subsetted fonts:
  * If you don’t require the entire range of characters, you can use the smaller, subsetted webfonts instead.
  * See "Glyphs & Languages" for an overview of the characters in the corresponding html file in the root directory of this package.
  *
  */

 /* Subsetted */

 @font-face {
     font-family: "Lineto Replica Regular Sub";
     src: url("../fonts/Replica/lineto-replica-regular.eot");
     src: url("../fonts/Replica/lineto-replica-regular.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Replica/lineto-replica-regular.woff2") format("woff2"),
          url("../fonts/Replica/lineto-replica-regular.woff") format("woff");
     font-weight: normal;
     font-style: normal;
 }

 .replica-regular {
	 font-family: "Lineto Replica Regular Sub";
 }

 @font-face {
     font-family: "Lineto Replica Heavy Sub";
     src: url("../fonts/Replica/lineto-replica-heavy.eot");
     src: url("../fonts/Replica/lineto-replica-heavy.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Replica/lineto-replica-heavy.woff2") format("woff2"),
          url("../fonts/Replica/lineto-replica-heavy.woff") format("woff");
     font-weight: normal;
     font-style: normal;
 }

 .replica-heavy {
	 font-family: "Lineto Replica Heavy Sub";
 }

 @font-face {
     font-family: "Lineto Replica Bold Sub";
     src: url("../fonts/Replica/lineto-replica-bold.eot");
     src: url("../fonts/Replica/lineto-replica-bold.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Replica/lineto-replica-bold.woff2") format("woff2"),
          url("../fonts/Replica/lineto-replica-bold.woff") format("woff");
     font-weight: normal;
     font-style: normal;
 }

 .replica-bold {
	 font-family: "Lineto Replica Bold Sub";
 }
